.container{
    height:auto;
}

img{
    display:none;
}

.images{
    width: 100%;
    object-fit: cover;
    height:250px;
}

.imgSizes{
    background-size: cover;
    width: 1080px;
    height: 400px;
    display: none;
}
.tiledBackground1 {
    background-image: url(images/number1.jpg);
}

.tiledBackground2 {
    background-image: url(images/randomPaint.jpg);
}

.tiledBackground3 {
    background-image: url(images/threeMusicians.jpg);
}

.active {
    display: block;
}

