.active {
    display: block;
}

.container{
    height:auto;
}

img{
    display:none;
}

.images{
    width: 100%;
    object-fit: cover;
    height:250px;
}

.landscape{
    height: 250px;
    width: 930px;
}

.images-fluid{
    object-fit: fill;
}

.product-container{
    width: 1024px;
    margin: auto;
    display: flex;
    min-height: 100%;
    background-color: white;
}