.container{
    height:auto;
}

img{
    display:none;
}

.imgSizes{
    background-size: cover;
    width: 1080px;
    height: 250px;
    display: none;
}

.tiledBackground1 {
    background-image: url(images/number1.jpg);
}

.tiledBackground2 {
    background-image: url(images/randomPaint.jpg);
}

.tiledBackground3 {
    background-image: url(images/threeMusicians.jpg);
}

.footer{
    background: black;
    color: white;
    height:auto;
}

.middleFooter{
    text-align: center;
}

.rightFooter{
    text-align: right;
}

.footerTextRight{
    margin:0;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .imgSizes {
        width: 900px;
        height:300px;
        display: none;
    }

}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .imgSizes {
        width: 660px;
        height:300px;
        display: none;
    }
}

@media only screen and (min-width: 550px) and (max-width: 767px) {
    .imgSizes {
        width: 480px;
        height:300px;
        display: none;
    }

}

@media only screen and (min-width: 411px) and (max-width: 550px) {
    .imgSizes {
        width: 480px;
        height:300px;
        display: none;
    }
}

@media only screen and (max-width: 575px){
    .rightFooter{
        text-align: left;
    }
}

@media only screen and (max-width: 411px){
    .imgSizes {
        width: 334px;
        height:300px;
        display: none;
    }
}




.active {
    display: block;
}

